{% extends "mysite/index.html" %} 

{% block title %}{{ project.title }}{%endblock%} 

{% block content %}
  <div class="project-detail">
    <div class="project-title">
      <h1>{{ project.title }}</h1>
    </div>
    <p class="date">
      Шаблон: {{ project.template }} <br>
      Изменено: {{ project.modified }}
    </p>
    <div class="interact">
      <a href="{% url 'mysite:project_update' project.id %}">Редактировать</a>
      <a href="{% url 'mysite:project_delete' project.id %}">Удалить</a>
      <a href="{% url 'mysite:project_list' %}">Отмена</a>
    </div>
  </div>
{% endblock %}
